<div class="row mb-2" [ngClass]="{'text-decoration-line-through': item.completed}">
    <div class="w-auto">
        <input type="checkbox" (change)="onToggle(item)" [checked]="item.completed">
    </div>
    <div class="col-4">{{item.title}}</div>
    <div class="col-2">{{item.quantity}}</div>
    <div class="col">{{item.price | currency}}</div>
    <div class="col-2">{{(item.price * item.quantity) | currency}}</div>
    <div class="col-2">
        <button (click)="onDelete(item)" class="btn btn-danger">Eliminar</button>
    </div>
</div>